<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name= "cn" providerName="" connectionString="Data Source=LAPTOP-MF0S35KN\SQLEXPRESS;Initial Catalog=Biblioteca;Integrated Security=True;TrustServerCertificate=True"/>
	</connectionStrings>

	<!--
	<appSettings>
		<add key ="SelectStatement" value="Select * from Adrese_Persoane"/>
		<add key="ParentTableName" value="Adrese_Persoane"/>
		<add key="ChildTableName" value="Persoane"/>
		<add key="textbox_count" value="3"/>
		<add key="ChildColumnNames" value="Nume,Prenume,Email"/>
		<add key="InsertedParametersNames" value ="@Nume, @Prenume, @Email, @Aid"/>
		<add key ="UpdateColumns" value="Nume=@Nume, Prenume=@Prenume, Email=@Email WHERE Pid=@id"/>
		<add key="pk_parent" value="Aid=@Parent"/>
		<add key="pk_child" value="Pid=@Child"/>
		<add key="parentKey" value="Aid"/>
		<add key="label1" value="Nume"/>
		<add key="label2" value="Prenume"/>
		<add key="label3" value="Email"/>
		<add key="InsertNames" value="Nume,Prenume,Email,Aid"/>
	</appSettings>
-->
	
	<appSettings>
		<add key ="SelectStatement" value="Select * from Genuri"/>
		<add key="ParentTableName" value="Genuri"/>
		<add key="ChildTableName" value="Carti"/>
		<add key="textbox_count" value="4"/>
		<add key="ChildColumnNames" value="Titlu,Nr_Carti,Data_Imprumut,Gid"/>
		<add key="InsertedParametersNames" value ="@Titlu, @Nr_Carti, @Data_Imprumut, @Gid"/>
		<add key ="UpdateColumns" value="Titlu=@Titlu, Nr_Carti=@Nr_Carti, Data_Imprumut=@Data_Imprumut WHERE Cid=@id"/>
		<add key="pk_parent" value="Gid=@Parent"/>
		<add key="pk_child" value="Cid=@Child"/>
		<add key="parentKey" value="Gid"/>
		<add key="label1" value="Titlu"/>
		<add key="label2" value="Nr_Carti"/>
		<add key="label3" value="Data_Imprumut"/>
		<add key="InsertNames" value="Titlu,Nr_Carti,Data_Imprumut,Gid"/>
	</appSettings>
	
	
</configuration>