.ProbaApp {
  text-align: center;
  align-content: center;
  color:green;
}
.ProbaApp-h1{
  text-align: center;

  font-family:'Courier New';
  font-size: large;

}
.ProbaTable{
  text-align: center;
  font-family: "Times New Roman";
  font-size: medium;
  color: green;
}
.ProbaApp-body{
  align-content: center;
}
table.center {
  margin-left:auto;
  margin-right:auto;
}